<div class="container">
  <div class="row pb-5 ">
    <div class="d-flex align-items-center justify-content-center">
      <p class="custom-text pt-5 pb-2">PortAir Rates</p>
    </div>
  </div>

  <div class="row col-md-11 pt-4">
    <div class="d-flex align-items-center justify-content-center">
      <div class="col-md-3">
        <div class="row m-0">
          <div class="col-md-6">
            <h4 class="rateText">1 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$4.69</h2>
          </div>
        </div>
      </div>

      <div class="col-md-1 w-4"></div>

      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-start m-0">
          <div class="col-md-6">
            <h4 class="rateText">6 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$20.49</h2>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row col-md-11 pt-2">
    <div class="d-flex align-items-center justify-content-center">
      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-end m-0">
          <div class="col-md-6">
            <h4 class="rateText">2 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$7.99</h2>
          </div>
        </div>
      </div>

      <div class="col-md-1 w-4"></div>

      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-start m-0">
          <div class="col-md-6">
            <h4 class="rateText">7 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$23.59</h2>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row col-md-11 pt-2">
    <div class="d-flex align-items-center justify-content-center">
      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-end m-0">
          <div class="col-md-6">
            <h4 class="rateText">3 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$11.09</h2>
          </div>
        </div>
      </div>

      <div class="col-md-1 w-4"></div>

      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-start m-0">
          <div class="col-md-6">
            <h4 class="rateText">8 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$26.69</h2>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row col-md-11 pt-2">
    <div class="d-flex align-items-center justify-content-center">
      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-end m-0">
          <div class="col-md-6">
            <h4 class="rateText">4 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$14.29</h2>
          </div>
        </div>
      </div>

      <div class="col-md-1 w-4"></div>

      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-start m-0">
          <div class="col-md-6">
            <h4 class="rateText">9 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$29.79</h2>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="row col-md-11 pt-2">
    <div class="d-flex align-items-center justify-content-center">
      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-end m-0">
          <div class="col-md-6">
            <h4 class="rateText">5 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$17.39</h2>
          </div>
        </div>
      </div>

      <div class="col-md-1 w-4"></div>

      <div class="col-md-3">
        <div class="row d-flex align-items-center justify-content-start m-0">
          <div class="col-md-6">
            <h4 class="rateText">10 LB</h4>
          </div>
          <div class="col-md-6">
            <h2 class="rateText2 fw-bold">$32.89</h2>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="row disclaimerText pt-3">
    <div class="row pt-3">
      <p class="fw-bold text-base text-white ps-5 d-flex">*Each invoice with a value below US$500 is subject to a
        processing fee of $1.50</p>
    </div>

    <div class="row pt-3">
      <p class="fw-bold text-base text-white ps-5 d-flex">*Each invoice with a value between US$500 –
        $1,000 is subject to a processing fee of $4.50</p>
    </div>

    <div class="row pt-3">
      <p class="fw-bold text-base text-white ps-5 d-flex">*Each Packages with a value over US$1,000 attracts a
        processing fee of 1%</p>
    </div>

    <div class="row pt-3">
      <p class="fw-bold text-base text-white ps-5 d-flex">*Please note that insurance is optional for all packages
        below $1,000</p>
    </div>

    <div class="row pt-3">
      <p class="fw-bold text-base text-white ps-5 d-flex">*All packages over $1,000 attract an insurance fee of 2%
      </p>
    </div>

    <div class="row pt-3">
      <p class="fw-bold text-base text-white ps-5 d-flex">*Each 1 lb over 10 lbs cost an additional $3.75 per lb
      </p>
    </div>
  </div>

</div>
