<!-- Footer -->
<footer [ngClass]="{'custom-class': footervar}" class="mt-auto">
  <!-- Section: Links  -->
  <section class="pt-3">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-5">
        <!-- Grid column -->
        <div class="col-md-5 mb-4 text-center">
          <!-- Content -->
          <h5 class="mb-1" style="font-weight: 500;">
            <i class="fas fa-gem text-secondary"></i>
            Copyright © 2023 PortAir Logistix
          </h5>
          <h6 class="fw-bold mb-4">
            <i class="fas fa-gem text-secondary"></i>
            A PortAir Global LLC Company
          </h6>
          <span>
            <a routerLink="/home">
              <img class="company-logo" [src]="'/assets/portairlogo.png'" alt="image">
            </a>
          </span>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <a href="#!" class="text-links" style="font-weight: 500;">Privacy Policy</a><br />
          <a href="#!" class="text-links" style="font-weight: 500;">Terms & Conditions</a><br />
          <a href="#!" class="text-links" style="font-weight: 500;">Refund/Return Policy</a><br />
          <a href="#!" class="text-links" style="font-weight: 500;">Delivery Policy</a><br />
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="fw-bold mb-2">Contact Us</h6>
          <i class="fas fa-home text-secondary"></i>portairlogistix@gmail.com<br />
          <i class="fas fa-envelopetext-secondary"></i>Jamaica + 1-876-847-9404<br />
          <i class="fas fa-phone text-secondary"></i>USA + 1-305-809-8744
        </div>
        <!-- Grid column -->

        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <small>This site is protected by reCAPTCHA and the Google&nbsp;
            <a href="https://policies.google.com/privacy">Privacy Policy</a>&nbsp;
            <a href="https://policies.google.com/terms">Terms of Service</a> apply.
          </small>
        </div>
      </div>
      <br/><br/>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

</footer>
<!-- Footer -->
