<div class="container pt-3">
  <div class="row gx-5">
    <div class="col-md-5 ml-5">
      <p class="custom-text ps-5">Company Organization</p>
      <p class="ps-5 pt-3 regular-text">PortAir Logistics Group Company Limited was founded on some core principles;
        professionalism, reliability, and a great commitment to creating customer-focused value-added services and
        best-in-class customer experience. We will bring to market a variety of products and services that will
        revolutionize the logistics space in Jamaica. We intend to bring to the Jamaican economy a reliable
        import/export carrier and partner that will be able to drive economic growth by offering consistent service.</p>
      <p class="ps-5 pt-3 regular-text">Through diversified product offerings, we intend to make an impact by creating a
        relatable brand that plays an important role in community development as well as raising current standards.</p>
    </div>
    <div class="col-md-7 spacer layer1">
    </div>
  </div>

  <div class="row pb-2 gx-5 ps-4 pe-4 custom-container">
    <div class="col-md-6">
      <p class="custom-text ps-5 pt-5 middle-header">Vision</p>
      <p class="ps-4 pt-3 text-left vision-text">To make a positive impact on our Local, Pan-Caribbean, and Global
        Economy
        by becoming a major global logistics company by delivering value to our customers through innovation, as well as
        creating sustainable solutions that will drive economic growth and a create a positive customer experience.</p>
    </div>
    <div class="col-md-6">
      <p class="custom-text ps-5 pt-5 middle-header text-end">Mission</p>
      <p class="ps-4 pt-3 vision-text text-end">To make a positive impact on our Local, Pan-Caribbean, and Global
        Economy
        by becoming a major global logistics company by delivering value to our customers through innovation, as well as
        creating sustainable solutions that will drive economic growth and a create a positive customer experience.</p>
    </div>
  </div>


  <div class="row pb-5 gx-5 ps-4 custom-container">

    <div class="col-md-12 d-flex align-items-center justify-content-center">
      <p class="custom-text pt-5 pb-2 middle-header">Our Values</p>
    </div>

    <div class="row centered-div pt-5 col-md-12">
      <div class="col-md-11">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-3 text-center">
            <span class="material-symbols-outlined">
              task_alt
            </span>
          </div>
          <div class="col-md-6">
            <h4 class="valuesText">Integrity</h4>
            <p class="valuesText">We mean what we say, and we deliver on our promises.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row centered-div pt-5 col-md-12">
      <div class="col-md-11">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-3 text-center">
            <span class="material-symbols-outlined">
              task_alt
            </span>
          </div>
          <div class="col-md-6">
            <h4 class="valuesText">Leadership</h4>
            <p class="valuesText">Lead responsibly and with the best interest of customers and stakeholders in mind.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row centered-div pt-5 col-md-12">
      <div class="col-md-11">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-3 text-center">
            <span class="material-symbols-outlined">
              task_alt
            </span>
          </div>
          <div class="col-md-6">
            <h4 class="valuesText">Consistency and Reliability</h4>
            <p class="valuesText">Always there when you need us.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row centered-div pt-5 col-md-12">
      <div class="col-md-11">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-3 text-center">
            <span class="material-symbols-outlined">
              task_alt
            </span>
          </div>
          <div class="col-md-6">
            <h4 class="valuesText">
              Disruption through Positive Impact</h4>
            <p class="valuesText">Be bold yet accountable and transparent all while using out of the box solutions to
              create value.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row centered-div pt-5 col-md-12">
      <div class="col-md-11">
        <div class="row d-flex align-items-center justify-content-center">
          <div class="col-md-3 text-center">
            <span class="material-symbols-outlined">
              task_alt
            </span>
          </div>
          <div class="col-md-6">
            <h4 class="valuesText">Commitment to Customer & Community</h4>
            <p class="valuesText">Provide value and opportunity to our customers and community.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
