<div class="spacer layer1">
  <div class="container pt-5">
    <div class="row">
      <div class="d-flex align-items-center justify-content-center pt-5 pb-5">
        <p class="custom-text pt-5 pb-5 my-element">Lets Talk...</p>
      </div>
    </div>

    <div class="row gx-5">
      <div
        class="col text-center d-flex align-items-center justify-content-center pb-5 animate__animated animate__fadeInLeft m-0">
        <div class="card custom-card" style="width: 20rem;">
          <span class="material-symbols-outlined pt-2">
            call
          </span>
          <div class="card-body">
            <h3 class="card-title fw-bold">Telephone</h3>
            <p class="card-text pt-1 m-0">Flow: + 876-847-9404</p>
            <p class="card-text m-2">Flow: + 876-847-9404</p>
          </div>
        </div>
      </div>

      <div
        class="col text-center d-flex align-items-center justify-content-center pb-5 animate__animated animate__fadeInUp">
        <div class="card custom-card" style="width: 20rem;">
          <span class="material-symbols-outlined pt-2">
            mail
          </span>
          <div class="card-body pb-5">
            <h3 class="card-title fw-bold">Email Us</h3>
            <p class="card-text pt-1 m-2">portairlogistix@gmail.com</p>
          </div>
        </div>
      </div>

      <div
        class="col text-center d-flex align-items-center justify-content-center pb-5 animate__animated animate__fadeInRight">
        <div class="card custom-card" style="width: 20rem;">
          <span class="material-symbols-outlined pt-2">
            schedule
          </span>
          <div class="card-body">
            <h3 class="card-title fw-bold">Opening Hrs.</h3>
            <p class="card-text pt-1 m-0">Monday – Friday: 9am – 6pm</p>
            <p class="card-text m-0">Saturday: 10am – 4pm</p>
            <p class="card-text ">Sunday: Closed</p>
          </div>
        </div>
      </div>

    </div>

    <div class="row pt-3">
      <div class="col text-center d-flex align-items-center justify-content-center pb-5">
        <div class="card custom-card" style="width: 100%;">
          <div class="card-body">
            <h1 class="card-title fw-bold pb-5">Send us a Message Instead?</h1>
            <app-contact-form></app-contact-form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="maps-container">
    <div class="row">
      <app-google-map class="mappStyle"></app-google-map>
    </div>
  </div>
</div>